.top-compilers, .technologies{
    background-color: var(--accent);
    padding-block: 30px;
    width: 100vw;
}

.heading{
    font-size: 58px;
    font-weight: 500;
}

.compilers{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.compiler{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    background: linear-gradient(45deg , #000000, #3A3C3B);
    padding: 10px 30px;
    border-radius: 8px;
    color: #FBFBFD;
    cursor: pointer;
    min-width: 136px;
    min-height: 128px;
}


.compiler-img{
    width: 64px;
    height: 64px;
}

/* starting css for intro section  */
.intro, .technologies{
    padding-block: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.intro-heading{
    font-size: 4.2rem;
    font-weight: 500;
    width: 36rem;
    text-align: center;
    align-self: center;
}

.intro-sub-heading{
    font-size: 1.3rem;
}

.search-bar{
    width: 36rem;
    border: 1px solid var(--primary-color);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    margin-block: 16px;
}

.search-bar input{
    border: none;
    width: calc(100% - 42px);
    padding: 16px 20px;
    border-radius: 2rem;
    font-size: 0.8rem;
}

.search-bar input:focus{
    outline: none;
}

.intro-desc, .desc{
    width: 32rem;
    font-size: 1rem;
    line-height: 1.8rem;
}

.desc{
    width: 52rem;
    font-size: 1.1rem;
}

/* starting of learning section  */
.learning{
    padding-block: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: black;
    color: var(--background-color);
}

.tabs{
    display: flex;
    align-items: center;
    gap: 20px;
}

.tab{
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    background-color: #3A3C3B;
    padding: 10px 16px;
    white-space: nowrap; 
    border-radius: 6px;
    cursor: pointer;
    min-width: 200px;
    transition: background-color ease-in 0.2s;
}

.tab:hover{
    background-color: var(--primary-color);
}

.active-tab{
    background-color: var(--primary-color);
}

/* tabcontent styling */
.tabcontent{
    display: none;
    flex-wrap: wrap;
    gap: 1.6rem;
    padding: 30px 0px;
}

.tab-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.tabLink{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg , #000000, #3A3C3B);
    border-radius: 8px;
    cursor: pointer;
    min-width: 150px;
    min-height: 150px;
}

.tab-compiler-img{
    width: 85px;
    height: 85px;
}
