@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* general colors used mostly in every page  */
:root {
    --primary-color: #2C9D30;
    --secondary-color: #031926;
    --background-color: #FBFBFD;
    --accent : #F4F4F4;
    --text-color : #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    width: 100vw;
    font-family: "Roboto", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* add this class to html element to give a padding value on different screen widths */
.mx-auto{
    padding-inline: 200px;
}

@media (min-width: 1301px) and (max-width: 1500px) {
    .mx-auto{
        padding-inline: 100px;
    }
}

@media (max-width: 1300px) {
    .mx-auto{
        padding-inline: 20px;
    }
}
