/* homesection css */
.homesec {
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 616px;
  background-color: #031926;
  color: #ffff;
}

.homesec>.container {
  display: grid;
  grid-template-columns: 1fr auto;
  height: 600px;
  align-content: center;
  justify-content: center;
 background-image: url('images/genral/heroBg.png');
 background-repeat: no-repeat;
}

.homesec>.container>.imageofhome {
  grid-column: 2;
  height: 522px;
  width: 490px;
  display: grid;
  justify-items: end;

}

.homesec>.container>.homecontent {
 align-content: center;
  justify-items: center;
  grid-column: 1;
  height: 500px;
  width: fit-content;
  padding: 10px;
}

.homesec .container>.homecontent>.hometitle {
  margin-bottom:10px ;
  font-size:50px;
  overflow: hidden;
  font-family: 'Alegreya-Sans-SC';
}

.formsearch {
  overflow: hidden;
}

.searchbar {
  border-radius: 50px;
  border: 2px solid #239327;
  overflow: hidden;
  width: 700px;
  position: relative;
  margin-top:10px;
  margin-bottom: 10px;
}
.homecontent > .homepara{
  margin-top: 10px;
  font-size:20px;

}
.homecontent > .hometitle > .text-accent-700{
  color:#239327;
}
.input-group {
  display: flex;
}

.form-control {
  border: none;
  border-radius: 5px 0 0 5px;
  padding-right: 40px;
  overflow: hidden;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color:#239327;
  overflow: hidden;
}

.material-symbols-outlined {
  font-size: 1.5rem;
  overflow: hidden;

}