.hidden {
  display: none;
}
/* homesection css */
.homesec {
  background-image: url("/images/genral/heroBg.png");
  background-position: left;
  background-size: cover;
  align-items: center;
  justify-content:center;
  margin: 0;
  height: 616px;
  background-color: #031926; 
  color: #ffff;

}

.homesec>.container {
  display: grid;
  grid-template-columns: 1fr auto;
  height: 600px;
  align-content: center;
  justify-content: center;
}

.homesec>.container>.imageofhome {
  grid-column: 2;
  height: 522px;
  width: 490px;
  display: grid;
  justify-items: end;
  margin-left:10px;

}

.homesec>.container>.homecontent {
 align-content: center;
  justify-content: start;
  grid-column: 1;
  height: 500px;
  width: fit-content;
  padding: 10px;
  margin-right: 10px;
}

.homesec >.container>.homecontent>.hometitle {
  margin-bottom:10px ;
  font-size:50px;
  overflow: hidden;
  font-family: 'Roboto,sans';
}

.formsearch {
  overflow: hidden;
}

.searchbar {
  border-radius: 50px;
  border: 2px solid #239327;
  overflow: hidden;
  width: 700px;
  position: relative;
  margin-top:10px;
  margin-bottom: 10px;
}
.homecontent > .homepara{
  margin-top: 10px;
  font-size:20px;

}
.homecontent > .hometitle > .text-accent-700{
  color:#239327;
}
.input-group {
  display: flex;
}

.form-control {
 
  flex: 1 1 auto;
  padding: 0.5rem 1rem;
  border:none; 
  margin-right:0;
 
}


.material-symbols-outlined {
 
  overflow: hidden; 
  font-family: 'Material Icons Outlined'; 
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem; 
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.searchbutton{
  color:#239327;
  background-color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0.5rem;
  cursor:pointer;
  border:none;
  margin-left:0;
}

/*Start learning section*/

.startlearn {
  width: 100vw; 
  height: 504.8px;
  padding: min(8vw, 2.5rem); 
  margin: 0; 
}
.startlearn > .divofsl{
display:flex;
justify-content:space-between;
padding:15px;
width:1299.2px;
transform: translateX(-60px);

}
.startlearn > .divofsl > .sltext1{
  font-size:50px;
  font-weight: 800;
  font-family:"Nunito",sans-serif;
  font-stretch:extra-condensed;

}
/* .startlearn > .divofsl > .sltext1 >*/ .text-accent-700{
  color:#239327;
  padding-left:5px;
}
.startlearn > .divofsl > .rightdiv{
  background-color:transparent;
  padding:0;
  display:flex;
  align-items: center;
}
.startlearn > .divofsl > .rightdiv > .seeall{
  background-color:#239327;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:6px;
  border-radius: 10px;
  width:80px;
  height: 45px;
  margin:2px 20px 2px 2px;
}
.startlearn > .divofsl > .rightdiv > .seeall > .slink{
  text-decoration: none;
    color:white;
}
.startlearn > .divofsl > .rightdiv > .seeall:hover{
  border-style: solid;
  background-color:beige;
  border-color: #239327;
  border-width: 2px;
  transition:ease-in 0.25s;
}
.startlearn > .divofsl > .rightdiv > .seeall:hover a{
  color:#239327;
  transition:ease-in 0.25s;
}
.startlearn > .divofsl > .rightdiv > .buttondiv{
display:flex;
align-items:center;
justify-content: space-around;
height: 45px;
width:106px;
}
.startlearn > .divofsl > .rightdiv > .buttondiv > .button1 , .button2{
background-color: black;
color:white;
height:45px;
width:45px;
border-radius: 10px;
border: none;
display:flex;
align-items:center;
justify-content:center;
}
.startlearn > .divofsl > .rightdiv > .buttondiv > .button1:hover{
  border-style: solid;
  background-color:beige;
  border-color:black;
  border-width: 2px;
  transition:ease-in 0.25s;
}
.startlearn > .divofsl > .rightdiv > .buttondiv > .button1:hover svg{
  fill:black;
}
.startlearn > .divofsl > .rightdiv > .buttondiv > .button2:hover{
  border-style: solid;
  background-color:beige;
  border-color:black;
  border-width: 2px;
  transition:ease-in 0.25s;
}
.startlearn > .divofsl > .rightdiv > .buttondiv > .button2:hover svg{
  fill:black;
}


.startlearn >.grid-container {
  transform: translateX(-60px);
  display: grid;
  grid-template-columns: repeat(4, 289.5px); /* 4 columns of fixed width */
  gap: 20px;
  background-color: #2196F3;
  padding:30px 40px 30px 40px;
  width:1219.2px;
  box-sizing: content-box;
  border-radius:10px;
  background-color: #031926;
}

.startlearn>.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
  width: 250px;
  height:120px;
}

.startlearn >.grid-container > div:nth-of-type(1){
  background-color: #f9dbbd;
}
.startlearn >.grid-container > div:nth-of-type(2){
  background-color:#4fa9c5;
}
.startlearn >.grid-container > div:nth-of-type(3){
  background-color:#ffede0;
}
.startlearn >.grid-container > div:nth-of-type(4){
  background-color:#468faf;
}
.startlearn >.grid-container > div:nth-of-type(5){
  background-color:#bfe4f5;;
}
.startlearn >.grid-container > div:nth-of-type(6){
  background-color:#52b69a;
}
.startlearn >.grid-container > div:nth-of-type(7){
  background-color:#ffb3c6;
}
.startlearn >.grid-container > div:nth-of-type(8){
  background-color:#78c6a3;
}
.learn-button{
  width:200px;
  height:100px;
  border:none;
  text-align: left;
background-color: transparent;
}
.learn-button a {
  font-size: 15px; 
  text-decoration: none;
  color:black;

}

.learn-button #langbutton {
  font-size: 25px; /* Increase size of "HTML" text */
  text-decoration: none;
  color:black;
}
.startlearn >.grid-container > div:hover{
transform: translateY(-5px);
transition: 0.25s ease-in;
}

/* Starting of 'Build career with us section' */
.buildcareer{
  width: 100vw; 
  height: 1043.2px;
  padding: min(8vw, 2.5rem); 
  margin: 0;
  /* background-color: #ffb3c6; */
}
.buildcareer > .topofbc{
  display: flex;
  justify-content:flex-start;
  align-items:center;
  width:1000px;
  height: 56px;
  padding: 20px;
  /* background-color: aqua; */
  margin:20px 10px 30px 10px;
  overflow: hidden;  
  transform: translateX(-133px);
}
.buildcareer .topofbc> .textofbc{
  font-size:50px;
  font-weight:bold;
  font-family:"Nunito",sans-serif;
  font-stretch:extra-condensed;
}

 .buildcareer >.grid-container2 {
  transform:translateX(-155px); 
  display: grid;
  grid-template-columns: repeat(2, 690.5px);
  gap:10px;
  /* background-color: #2196F3; */
  padding: 10px;
  height:811.2px;
  width:1413px;
}
.buildcareer > .grid-container2 > .mydiv{
  /* background-color: #239327; */
  width:690.5px;
  height:389.6px;
  border-radius:20px;
  position:relative;
}
.buildcareer > .grid-container2 > .mydiv >.div0 {
  width:600px;
  height:300px;
  border-radius:20px;
  position: absolute;
  opacity: 1;
  background-color:black;
}
.buildcareer > .grid-container2 > .mydiv >.div1{
  border: 1.5px solid black;
  text-align: center;
  font-size: 30px;
  width:600px;
  height:300px;
  border-radius:20px;
  position: absolute;
  opacity: 1;
  background-color:#edf6f9;
}
.sec-ofdiv1-ofbc{
  transform: translateY(20px);
  width:500px;
  height: 250px;
  margin: 0; 
  /* background-color: blue; */
}
.sec-ofdiv1-ofbc > .top-sec-ofdiv1-ofbc{
  width:500px;
  height:50px;
}
.sec-ofdiv1-ofbc > .top-sec-ofdiv1-ofbc > .textof-top-sec-ofdiv1-ofbc{
  font-size:30px;
  font-family:"Nunito",sans-serif;
  font-stretch:extra-condensed;
  font-weight: 600;
}

/* .buildcareer > .grid-container2 > .mydiv > .div1> .bc-contain{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  background-color:pink;
  padding: 10px;
}
.grid-container2 > .mydiv > .div1 > .sec-ofdiv1-ofbc > .bc-contain div{
  background-color:blueviolet;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
  width: 100px;
  height: 60px;
}  */


