/* homesection css */
.homesec {
  background-image: url("/images/genral/heroBg.png");
  background-position: left;
  background-size: cover;
  align-items: center;
  justify-content:center;
  margin: 0;
  height: 616px;
  background-color: #031926; 
  color: #ffff;

}

.homesec>.container {
  display: grid;
  grid-template-columns: 1fr auto;
  height: 600px;
  align-content: center;
  justify-content: center;
}

.homesec>.container>.imageofhome {
  grid-column: 2;
  height: 522px;
  width: 490px;
  display: grid;
  justify-items: end;
  margin-left:10px;

}

.homesec>.container>.homecontent {
 align-content: center;
  justify-content: start;
  grid-column: 1;
  height: 500px;
  width: fit-content;
  padding: 10px;
  margin-right: 10px;
}

.homesec >.container>.homecontent>.hometitle {
  margin-bottom:10px ;
  font-size:50px;
  overflow: hidden;
  font-family: 'Roboto,sans';
}

.formsearch {
  overflow: hidden;
}

.searchbar {
  border-radius: 50px;
  border: 2px solid #239327;
  overflow: hidden;
  width: 700px;
  position: relative;
  margin-top:10px;
  margin-bottom: 10px;
}
.homecontent > .homepara{
  margin-top: 10px;
  font-size:20px;

}
.homecontent > .hometitle > .text-accent-700{
  color:#239327;
}
.input-group {
  display: flex;
}

.form-control {
 
  flex: 1 1 auto;
  padding: 0.5rem 1rem;
  border:none; 
  margin-right:0;
 
}


.material-symbols-outlined {
 
  overflow: hidden; 
  font-family: 'Material Icons Outlined'; 
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem; 
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.searchbutton{
  color:#239327;
  background-color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0.5rem;
  cursor:pointer;
  border:none;
  margin-left:0;
}