nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color: #FBFBFD;
}

.top-nav{
    background-color: var(--primary-color);
    height: 48px;
}

.left-nav-section, .right-nav-section{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    cursor: pointer;
    white-space: nowrap;
}

.nav-item:hover{
    text-decoration: underline;
}

.social-icon{
    padding:4px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #239327;
    cursor: pointer;
    overflow: hidden;
}

.social-icon-set{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* starting of middle navbar  */

.middle-nav{
    padding-block: 16px;
    color: rgb(31, 29, 29);
}

.nav-logo{
    height: 42px;
    margin-right: 20px;
}

.middle-nav-item{
    gap: 7px;
}

.middle-nav-item div{
    display: flex;
    align-items: center;
    gap: 4px;
}

.middle-nav-item div:hover{
    color: var(--primary-color);
}

.signup-btn{
    padding: 10px 15px;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    color: var(--text-color);
    font-weight: 700;
    cursor: pointer;
    color: #FBFBFD;
}

.signup-btn:hover{
    background-color: var(--background-color);
    color: var(--primary-color);
}

.right-nav-section li{
    cursor: pointer;
}

.right-nav-section li:hover{
    color: var(--primary-color);
    text-decoration: underline;
}

/* starting of bottom nav  */
.bottom-nav{
    background-color: var(--secondary-color);
}

.arrow{
    z-index: 1;
    padding-block: 8px;
    width: 25px;
    cursor: pointer;
}

.bottom-nav-list{
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
    margin-bottom: -5px;
}

.bottom-nav-list li{
    display: inline-block;
    padding-inline: 10px;
    padding-block: 12px;
    cursor: pointer;
}

.bottom-nav-list li:hover{
    background-color: var(--primary-color);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.bottom-nav-list::-webkit-scrollbar {
    margin-bottom: -5px;
    display: none;
}