nav{
    background-color: var(--primary-color);
    height: 40px;
    width: 100vw;
    padding-inline: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

@media (max-width: 1200px) {
    nav{
        padding-inline: 0;
    }
}

.left-nav-section, .right-nav-section{
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.social-icon{
    padding:4px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #239327;
}

.social-icon-set{
    display: flex;
    align-items: center;
    gap: 10px;
}